@model GateKeeperV1.Models.WorkerProfile
@{
    ViewBag.Title = "Worker Details";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var user = await userManager.GetUserAsync(User);
}

<div class="container mt-4">
    <h2>Worker Profile Details</h2>
    <div class="card">
        <div class="card-header">
            <h4>@Model.ApplicationUser.Name @Model.ApplicationUser.Surname</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Internal Number</dt>
                <dd class="col-sm-8">@Model.InternalNumber</dd>

                <dt class="col-sm-4">Email</dt>
                <dd class="col-sm-8">@Model.ApplicationUser.Email</dd>

                <dt class="col-sm-4">Role</dt>
                <dd class="col-sm-8">@Model.Role</dd>

                <dt class="col-sm-4">Notes</dt>
                <dd class="col-sm-8">@Model.Notes</dd>
            </dl>
        </div>
    </div>

    <h3 class="mt-4">Movements</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movement in Model.Movements)
            {
                <tr>
                    <td>Date</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="mt-4">Shift Details</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Shift Name</th>
                <th>Shift Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in Model.WorkerShifts)
            {
                <tr>
                    <td>ShiftName</td>
                    <td>ShiftTime</td>
                </tr>
            }
        </tbody>
    </table>

    @if (await functions.IsUserInCompanyRoleView(user.Id, "Admin"))
    {
        <!--ToDo: pop up-->
        <a class="btn btn-danger" asp-action="DeleteWorker" asp-controller="Worker" asp-route-workerId="@Model.Id">Delete worker</a>
        <a class="btn btn-primary" asp-action="GenerateQrCode" asp-controller="QrCode" asp-route-WorkerId="@Model.Id">Generate Qr Code</a>
    }
</div>
