@model List<UserRoleViewModel>

@{
    ViewBag.Title = "Editar cargo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var roleId = ViewBag.roleId;
}

 


<div class="container">
    <div class="containner">
        <form method="post">
            <div class="card" style="background-color: transparent">
                <div class="card-header">
                    <h2>Adicionar ou remover utilizadores do cargo</h2>
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].UserId" />
                            <input type="hidden" asp-for="@Model[i].UserName" />
                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                @Model[i].UserName
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <input type="submit" value="Update" class="btn btn-primary"
                           style="width:auto; border-radius: 10px;" />
                    <a asp-action="EditRole" style="border-radius: 10px;" asp-route-id="@roleId"
                       class="btn btn-primary" style="width:auto">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>