@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Utilizadores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>Utilizadores</h1>

    <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Create new user</a>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Projetos ativos
                    </td>
                    <td>
                        Pedidos ativos
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @user.Name @user.Surname
                        </td>
                        <td>
                            #
                        </td>
                        <td>
                            #
                        </td>
                        <td>
                            <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <form method="post" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Nenhum utilizador de momento</h4>
    }
</div>
