@model IEnumerable<Plan>
@{
    ViewBag.Title = "Manage plans";
}

<div class="container">
    <div class="row text-center">
        <h1>Base plans</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Free</h5>
                    <ul>
                        <li><p>1 construction site</p></li>
                        <li><p>Up to 500/month registers</p></li>
                        <li><p>Up to 5 workers</p></li>
                        <li><p>1 dashboard account</p></li>
                        <li><p>No Excel reports</p></li>
                        <li><p>0€ per month</p></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Premium</h5>
                    <ul>
                        <li><p>3 construction sites</p></li>
                        <li><p>Up to 1500/month registers</p></li>
                        <li><p>Unlimited workers</p></li>
                        <li><p>3 dashboard accounts</p></li>
                        <li><p>Excel reports</p></li>
                        <li><p>49€ per month or 539€ per year</p></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h1>All plans</h1>
    </div>
    <div class="row">
        <a asp-action="CreatePlan" asp-controller="Plan" class="btn btn-primary">Create plan</a>
    </div>
    @if (Model.Any())
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive mt-3">
                    <table class="table  datatable">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Buildings
                                </th>
                                <th>
                                    Regists p/ month
                                </th>
                                <th>
                                    Workers
                                </th>
                                <th>
                                    Accounts
                                </th>
                                <th>Excel Access</th>
                                <th>

                                </th>

                        </thead>
                        <tbody>
                            @foreach (var plan in Model)
                            {

                                <tr>
                                    <td>
                                        @plan.Name
                                    </td>

                                    @if (plan.BuildingsN == 0)
                                    {
                                        <td>
                                            Unlimited
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @plan.BuildingsN
                                        </td>
                                    }

                                    @if (plan.RegistsPerMonth == 0)
                                    {
                                        <td>Unlimited</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @plan.RegistsPerMonth
                                        </td>
                                    }

                                    @if (plan.Workers == 0)
                                    {
                                        <td>Unlimited</td>
                                    }
                                    else
                                    {
                                        <td>@plan.Workers</td>
                                    }

                                    @if (plan.DashboardAccounts == 0)
                                    {
                                        <td>
                                            Unlimited
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @plan.DashboardAccounts
                                        </td>
                                    }


                                    @if (plan.HasExcel == true)
                                    {
                                        <td>Yes</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }


                                    <td>
                                        <a class="nav-link" style="border-radius: 10px;" asp-action="PlanDetails" asp-controller="Plan" asp-route-id="@plan.Id">See details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row text-center">
            <p>No plan created yet.</p>
        </div>
    }
</div>