@model AbsenceJustification

@{
    ViewBag.Title = "Justificação de falta";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">
    <h2>Justificação de falta</h2>

    <div class="row mt-3">
        <div col-md-4>
            <h4>Trabalhador: @Model.Worker.ApplicationUser.Name @Model.Worker.ApplicationUser.Surname</h4>
        </div>
        <div col-md-4>
            <h4>Começou: @Model.AbsenceStarted.ToString("dd/MM/yyyy")</h4>
        </div>
        <div col-md-3>
            <h4>Terminou: @Model.AbsenceFinished.ToString("dd/MM/yyyy")</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <h4>@Model.Justification</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div col-md-3>
            

            @if (Model.Status == "Aproved")
            {
                <h4>Aprovada</h4>
            }
            else if (Model.Status == "WaitingRevision")
            {
                <h4>Espera revisão</h4>
            }
            else if (Model.Status == "Recused")
            {
                <h4>Recusada</h4>
            }
            else
            {
                <h4>@Model.Status</h4>
            }
        </div>
        @if (Model.Status == "WaitingRevision")
        {
            <div col-md-4>
                <a class="btn btn-primary" asp-action="AproveJustification" asp-controller="AbessenseJustification" asp-route-Id="@Model.Id">Aceitar justificação</a>
            </div>
            <div col-md-4>
                <a class="btn btn-danger" asp-action="RejectJustification" asp-controller="AbessenseJustification" asp-route-Id="@Model.Id">Recusar justificação</a>
            </div>
        }
    </div>
</div>